spring:
  application:
    name: BuzzerBidder
  profiles:
    active: dev

---
# 개발 환경 설정
spring:
  config:
    activate:
      on-profile: dev

logging:
  level:
    root: INFO
    devut.buzzerbidder: DEBUG
    org.springframework.web: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE

---
# 테스트 환경 설정
spring:
  config:
    activate:
      on-profile: test

logging:
  level:
    root: WARN
    devut.buzzerbidder: INFO

---
# 프로덕션 환경 설정
spring:
  config:
    activate:
      on-profile: prod

logging:
  level:
    root: INFO
    devut.buzzerbidder: INFO

